table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .uploadButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .uploadButton svg.material-icons path {
    fill: #888;
  }

  .mat-cell {
    padding: 0px 12px 0px 0;
  }